In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('Finance Project').getOrCreate()

24/03/10 20:31:11 WARN Utils: Your hostname, Sagars-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.107.158 instead (on interface en0)
24/03/10 20:31:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/10 20:31:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Loan

In [10]:
loan = spark.read.option('header', True).option('inferSchema',True).csv('/Users/sagardapurkar/Desktop/Data Engineering/PySpark/PySpark Final Practise/BankTransactionDataset/Loan.csv')

In [11]:
display(loan.show())

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|               8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|               9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|               9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

None

In [12]:
loan.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [19]:
loan.select([count(when(col(i).isNull(),i)) for i in loan.columns]).show()

+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+
|count(CASE WHEN (Customer_ID IS NULL) THEN Customer_ID END)|count(CASE WHEN (Age IS NULL) THEN Age END)|count(CASE WHEN (Gender IS NULL) THEN Gender END)|count(CASE WHEN (Occupation IS NULL) THEN Occupation END)|count(CASE WHEN (Marital Status IS NULL) THEN Marital Status END)|count(CASE WHEN (Family Size IS NULL) THEN Family Size END)|count(CASE WHEN (Income IS NULL) THEN Income END)|count(CASE WHEN (Expenditure IS NULL) THEN Expenditure END)|count(CASE WHEN (Use Frequency IS NULL) THEN Use Frequency END)|count(CASE WHEN (Loan Category IS NULL) THEN Loan Category END)|count(CASE WHEN (Loan Amount IS NULL) THEN Loan Amount END)|count(CASE WHEN (Overdue IS NULL) THEN Overdue END)|count(CASE WHEN ( Debt Record IS NULL) THEN  Debt Record END)|count(CASE WHEN ( Returned Cheque IS NULL) THEN  Returned Cheque END)|count(CASE WHEN ( Dishonour of Bill IS NULL) THEN  Dishonour of Bill END)|
+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+
|                                                          0|                                          0|                                                0|                                                        0|                                                                0|                                                          0|                                               32|                                                         19|                                                              0|                                                              0|                                                          0|                                                  0|                                                            0|                                                                    0|                                                                        0|
+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+

In [14]:
loan.columns

['Customer_ID',
 'Age',
 'Gender',
 'Occupation',
 'Marital Status',
 'Family Size',
 'Income',
 'Expenditure',
 'Use Frequency',
 'Loan Category',
 'Loan Amount',
 'Overdue',
 ' Debt Record',
 ' Returned Cheque',
 ' Dishonour of Bill']

In [43]:
loan.where(col('Income').isNull()).show()

+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14034| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14050| 56|  MALE|   CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14101| 33|FEMALE| PRODUCT ENGINEER|       MARRIED|          5|  null|      45812|            5|        AUTOMOBILE|  8,52,416 |      4|      17,524|               6|                 3|
|    IB14117| 39|FEMALE|   SYSTEM OFFICER|       MARRIED|          6|  null|      32541|            5|  EDUCATIONAL LOAN|  1,02,256 |      3|      14,256|               4|                 4|
|    IB14173| 33|FEMALE| PRODUCT ENGINEER|       MARRIED|          5|  null|      45812|            5|          SHOPPING|  8,52,416 |      4|      17,524|               6|                 3|
|    IB14195| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|          SHOPPING|     80,660|      6|       4,500|               5|                 4|
|    IB14225| 56|  MALE|   CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14233| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|        AUTOMOBILE|     80,660|      6|       4,500|               5|                 4|
|    IB14244| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14263| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14269| 32|  MALE|SOFTWARE ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14280| 39|FEMALE|   SYSTEM OFFICER|       MARRIED|          6|  null|      32541|            5|  EDUCATIONAL LOAN|  1,02,256 |      3|      14,256|               4|                 4|
|    IB14291| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|          SHOPPING|     80,660|      6|       4,500|               5|                 4|
|    IB14303| 56|  MALE|   CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14331| 29|  MALE|     BANK MANAGER|       MARRIED|          5|  null|      19326|            6|           DINNING|    188,617|      4|       38410|               4|                 1|
|    IB14344| 43|  MALE|  AIRPORT OFFICER|       MARRIED|          7|  null|      28032|            8|           HOUSING|  1,691,451|      7|       64718|               0|                 4|
|    IB14361| 37|FEMALE| PRODUCT ENGINEER|        SINGLE|          6|  null|      28140|            5|        AUTOMOBILE|    819,281|      8|       27586|               6|                 8|
|    IB14403| 28|FEMALE|          TEACHER|       MARRIED|          3|  null|      19339|            8|         GOLD LOAN|  1,585,799|      7|       82089|               2|                 3|
|    IB14420| 43|  MALE|SOFTWARE ENGINEER|       MARRIED|          2|  null|      23080|            7|COMPUTER SOFTWARES|    559,276|      4|       66963|               1|                 8|
|    IB14446| 45|  MALE|          TEACHER|       MARRIED|          5|  null|      20185|            5|         GOLD LOAN|  1,218,291|      7|       71089|               6|                 0|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [44]:
loan.select(avg('Income')).show()

+-----------------+
|      avg(Income)|
+-----------------+
|68339.49145299145|
+-----------------+

In [47]:
loan=loan.fillna({'Income':68339})

In [48]:
loan.where(col('Income').isNull()).show()

+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+

In [24]:
loan.where(col('Expenditure').isNull()).show()

+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14086| 51|FEMALE|       TECHNICIAN|       MARRIED|          5| 30000|       null|            5|       RESTAURANTS|  1,25,463 |      7|      52,634|               4|                10|
|    IB14111| 57|FEMALE|CORPORATE OFFICER|       MARRIED|          3| 52143|       null|            4|COMPUTER SOFTWARES| 75,41,236 |      4|      11,111|               3|                 2|
|    IB14126| 57|  MALE|  FIRE DEPARTMENT|       MARRIED|          5| 54123|       null|            7|       RESTAURANTS|  41,23,65 |      6|      18,524|               2|                 1|
|    IB14143| 34|FEMALE|          TEACHER|       MARRIED|          4| 45389|       null|            5|   HOME APPLIANCES|  3,50,050 |      4|      24,000|               4|                 3|
|    IBI4153| 58|  MALE|  SYSTEM ENGINEER|       MARRIED|          6| 76800|       null|            5|        TRAVELLING| 16,59,080 |      6|      29,000|               5|                 3|
|    IB14167| 57|FEMALE|CORPORATE OFFICER|       MARRIED|          3| 52143|       null|            4|        AUTOMOBILE| 75,41,236 |      4|      11,111|               3|                 2|
|    IB14306| 51|FEMALE|       TECHNICIAN|       MARRIED|          5| 30000|       null|            5|        AUTOMOBILE|  1,25,463 |      7|      52,634|               4|                10|
|    IB14337| 51|FEMALE|          DENTIST|       MARRIED|          7| 58465|       null|            8|        AUTOMOBILE|    569,189|      5|       27059|               4|                 9|
|    IB14352| 32|FEMALE|      ELECTRICIAN|       MARRIED|          5| 70449|       null|            8|         GOLD LOAN|  1,092,176|      7|       64685|               0|                 6|
|    IB14369| 37|FEMALE|           DOCTOR|       MARRIED|          5| 57453|       null|            6|        TRAVELLING|    462,585|      1|       72488|               9|                 8|
|    IB14380| 41|FEMALE|            NURSE|       MARRIED|          5| 36784|       null|            4|           HOUSING|  1,232,534|      9|       60243|               3|                 1|
|    IB14395| 36|FEMALE|          TEACHER|        SINGLE|          7| 43518|       null|            8|        TRAVELLING|    681,886|      9|       56090|               0|                 0|
|    IB14418| 40|FEMALE|          TEACHER|       MARRIED|          6| 77627|       null|            8|        TRAVELLING|    800,400|      1|       19990|               4|                 0|
|    IB14461| 54|FEMALE|  AIRPORT OFFICER|       MARRIED|          6| 50000|       null|            5|COMPUTER SOFTWARES|    754,507|      8|       37106|               7|                 9|
|    IB14491| 24|  MALE|          TEACHER|        SINGLE|          2| 77923|       null|            5|        TRAVELLING|    625,226|      5|       34121|               2|                 8|
|    IB14537| 32|FEMALE|            NURSE|       MARRIED|          5| 46841|       null|            4|       ELECTRONICS|    736,842|      3|       79728|               9|                 3|
|    IB14718| 47|  MALE|           DOCTOR|        SINGLE|          4| 77580|       null|            3|          SHOPPING|    339,171|      9|       84824|               8|                 9|
|    IB15027| 47|  MALE|           DOCTOR|        SINGLE|          4| 79580|       null|            3|          SHOPPING|    339,171|      9|       84824|               8|                 9|
|    IB15045| 34|  MALE|           POLICE|        SINGLE|          4| 45521|       null|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+

In [35]:
loan=loan.fillna({'Expenditure':27533})

In [36]:
loan.select(avg('Expenditure')).show()

+----------------+
|avg(Expenditure)|
+----------------+
|       27533.174|
+----------------+

In [37]:
loan.where(col('Expenditure').isNull()).show()

+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+

In [50]:
loan.select([count(when(col(i).isNull(),i)) for i in loan.columns]).show()

+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+
|count(CASE WHEN (Customer_ID IS NULL) THEN Customer_ID END)|count(CASE WHEN (Age IS NULL) THEN Age END)|count(CASE WHEN (Gender IS NULL) THEN Gender END)|count(CASE WHEN (Occupation IS NULL) THEN Occupation END)|count(CASE WHEN (Marital Status IS NULL) THEN Marital Status END)|count(CASE WHEN (Family Size IS NULL) THEN Family Size END)|count(CASE WHEN (Income IS NULL) THEN Income END)|count(CASE WHEN (Expenditure IS NULL) THEN Expenditure END)|count(CASE WHEN (Use Frequency IS NULL) THEN Use Frequency END)|count(CASE WHEN (Loan Category IS NULL) THEN Loan Category END)|count(CASE WHEN (Loan Amount IS NULL) THEN Loan Amount END)|count(CASE WHEN (Overdue IS NULL) THEN Overdue END)|count(CASE WHEN ( Debt Record IS NULL) THEN  Debt Record END)|count(CASE WHEN ( Returned Cheque IS NULL) THEN  Returned Cheque END)|count(CASE WHEN ( Dishonour of Bill IS NULL) THEN  Dishonour of Bill END)|
+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+
|                                                          0|                                          0|                                                0|                                                        0|                                                                0|                                                          0|                                                0|                                                          0|                                                              0|                                                              0|                                                          0|                                                  0|                                                            0|                                                                    0|                                                                        0|
+-----------------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+---------------------------------------------------+-------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------------------------------+

In [72]:
# a. Number of loans in each category

loan.groupBy('Loan Category').count().orderBy('Count').show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|       BOOK STORES|    7|
|          BUILDING|    7|
|       AGRICULTURE|   12|
|           DINNING|   14|
|       ELECTRONICS|   14|
|   HOME APPLIANCES|   14|
|  EDUCATIONAL LOAN|   20|
|        RESTAURANT|   20|
|          BUSINESS|   24|
|COMPUTER SOFTWARES|   35|
|          SHOPPING|   35|
|       RESTAURANTS|   41|
|        TRAVELLING|   53|
|        AUTOMOBILE|   60|
|           HOUSING|   67|
|         GOLD LOAN|   77|
+------------------+-----+

In [82]:
# b. Number of people who have taken more than 1 lakh loan

loan.where(col('Loan Amount')>'1,00,000').count()

379

In [95]:
loan.filter(col('Loan Amount')>'1,00,000').count()

379

In [96]:
# c. Number of people with income greater than 60000 rupees

loan.where(col('Income')>60000).count()

230

In [73]:
# d. Number of people with 2 or more returned cheques and income less than 50000

loan.where((col('Income')<50000) & (col(' Returned Cheque')>=2)).count()

137

In [79]:
# e. Number of people with 2 or more returned cheques and are single

loan.where((col(' Returned Cheque')>=2) & (col('Marital Status')=='SINGLE')).count()

111

In [80]:
# f. Number of people with expenditure over 50000 a month

loan.where(col('Expenditure') > 50000).count()

6

In [90]:
loan.select(col(' Returned Cheque')).alias(' Returned Cheque'.lstrip()).show()

+----------------+
| Returned Cheque|
+----------------+
|               6|
|               1|
|               3|
|               0|
|               1|
|               0|
|               6|
|               2|
|               4|
|               5|
|               1|
|               5|
|               7|
|               8|
|               9|
|               1|
|               0|
|               7|
|               4|
|               9|
+----------------+
only showing top 20 rows

In [94]:
loan.withColumnRenamed(' Returned Cheque','Returned Cheque').show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+---------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record|Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+---------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|              6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|              1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|              3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|              0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|              1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|              0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|              6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|              2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|              4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|              5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|              1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6| 68339|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|              5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|              7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|              8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|              9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|              1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|              0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|              7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4| 68339|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|              4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|              9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+---------------+------------------+
only showing top 20 rows

In [112]:
for i in loan.columns:
    print(trim(col(i)))

Column<'trim(Customer_ID)'>
Column<'trim(Age)'>
Column<'trim(Gender)'>
Column<'trim(Occupation)'>
Column<'trim(Marital Status)'>
Column<'trim(Family Size)'>
Column<'trim(Income)'>
Column<'trim(Expenditure)'>
Column<'trim(Use Frequency)'>
Column<'trim(Loan Category)'>
Column<'trim(Loan Amount)'>
Column<'trim(Overdue)'>
Column<'trim( Debt Record)'>
Column<'trim( Returned Cheque)'>
Column<'trim( Dishonour of Bill)'>

In [117]:
a='Sagar'
b=' Sagar'
print(a)
c=trim(b)
print(c)

Sagar
Column<'trim( Sagar)'>

# Credit Card

In [100]:
credit = spark.read.option('header',True).option('inferSchema',True).csv('/Users/sagardapurkar/Desktop/Data Engineering/PySpark/PySpark Final Practise/BankTransactionDataset/Credit_Card.csv')

In [102]:
credit.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

In [104]:
credit.select([count(when(col(i).isNull(),i)) for i in credit.columns]).show()

+-------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------+
|count(CASE WHEN (RowNumber IS NULL) THEN RowNumber END)|count(CASE WHEN (CustomerId IS NULL) THEN CustomerId END)|count(CASE WHEN (Surname IS NULL) THEN Surname END)|count(CASE WHEN (CreditScore IS NULL) THEN CreditScore END)|count(CASE WHEN (Geography IS NULL) THEN Geography END)|count(CASE WHEN (Gender IS NULL) THEN Gender END)|count(CASE WHEN (Age IS NULL) THEN Age END)|count(CASE WHEN (Tenure IS NULL) THEN Tenure END)|count(CASE WHEN (Balance IS NULL) THEN Balance END)|count(CASE WHEN (NumOfProducts IS NULL) THEN NumOfProducts END)|count(CASE WHEN (IsActiveMember IS NULL) THEN IsActiveMember END)|count(CASE WHEN (EstimatedSalary IS NULL) THEN EstimatedSalary END)|count(CASE WHEN (Exited IS NULL) THEN Exited END)|
+-------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------+
|                                                      0|                                                        0|                                                  0|                                                          0|                                                      0|                                                0|                                          0|                                                0|                                                  0|                                                              0|                                                                0|                                                                  0|                                                0|
+-------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------+-----------------------------------------------------------+-------------------------------------------------------+-------------------------------------------------+-------------------------------------------+-------------------------------------------------+---------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------+

In [157]:
credit.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [105]:
# a. Number of members who are eligible for credit cards. 
# [NOTE: People having credit score greater than 700 are eligible]

credit.where(col('CreditScore')>700).count()

3116

In [108]:
# b. Number of members who are eligible and active in the bank.

credit.where((col('CreditScore')>700) & (col('IsActiveMember')==1)).count()

1637

In [109]:
# c. credit card users in Spain

credit.where(col('Geography')=='Spain').count()

2477

# Transaction

In [120]:
transaction = spark.read.option('header',True).option('inferSchema',True).csv('/Users/sagardapurkar/Desktop/Data Engineering/PySpark/PySpark Final Practise/BankTransactionDataset/Transaction.csv')

In [121]:
transaction.show(5)

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|TRF FROM  Indiafo...| 29-Jun-17|            null|    1000000.0|  1000000.0|
|409000611074'|TRF FROM  Indiafo...|  5-Jul-17|            null|    1000000.0|  2000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 18-Jul-17|            null|     500000.0|  2500000.0|
|409000611074'|TRF FRM  Indiafor...|  1-Aug-17|            null|    3000000.0|  5500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|     500000.0|  6000000.0|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 5 rows

In [122]:
transaction.select([count(when(col(i).isNull(),i)) for i in transaction.columns]).show()

+---------------------------------------------------------+---------------------------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+
|count(CASE WHEN (Account No IS NULL) THEN Account No END)|count(CASE WHEN (TRANSACTION DETAILS IS NULL) THEN TRANSACTION DETAILS END)|count(CASE WHEN (VALUE DATE IS NULL) THEN VALUE DATE END)|count(CASE WHEN ( WITHDRAWAL AMT  IS NULL) THEN  WITHDRAWAL AMT  END)|count(CASE WHEN ( DEPOSIT AMT  IS NULL) THEN  DEPOSIT AMT  END)|count(CASE WHEN (BALANCE AMT IS NULL) THEN BALANCE AMT END)|
+---------------------------------------------------------+---------------------------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+
|                                                        0|                                                                       2499|                                                        0|                                                                62652|                                                          53549|                                                          0|
+---------------------------------------------------------+---------------------------------------------------------------------------+---------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------+-----------------------------------------------------------+

In [156]:
transaction.printSchema()

root
 |-- Account No: string (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- VALUE DATE: string (nullable = true)
 |--  WITHDRAWAL AMT : double (nullable = true)
 |--  DEPOSIT AMT : double (nullable = true)
 |-- BALANCE AMT: double (nullable = true)

In [129]:
# a. Count of transaction on every account

transaction.groupBy(col('Account No')).count().show()

+-------------+-----+
|   Account No|count|
+-------------+-----+
|409000438611'| 4588|
|     1196711'|10536|
|     1196428'|48779|
|409000493210'| 6014|
|409000611074'| 1093|
|409000425051'|  802|
|409000405747'|   51|
|409000493201'| 1044|
|409000438620'|13454|
|409000362497'|29840|
+-------------+-----+

In [142]:
# b. Maximum withdrawal amount of each account

transaction.groupBy(col('Account No')).max(' WITHDRAWAL AMT ').show()

+-------------+---------------------+
|   Account No|max( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                2.4E8|
|     1196711'|        4.594475464E8|
|     1196428'|                1.5E8|
|409000493210'|                1.5E7|
|409000611074'|             912000.0|
|409000425051'|               3.54E8|
|409000405747'|                1.7E8|
|409000493201'|            2500000.0|
|409000438620'|                4.0E8|
|409000362497'|        1.413662392E8|
+-------------+---------------------+

In [144]:
# c. Minimum withdrawal amount of each account

transaction.groupBy(col('Account No')).min(' WITHDRAWAL AMT ').show()

+-------------+---------------------+
|   Account No|min( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000438611'|                  0.2|
|     1196711'|                 0.25|
|     1196428'|                 0.25|
|409000493210'|                 0.01|
|409000611074'|                120.0|
|409000425051'|                 1.25|
|409000405747'|                 21.0|
|409000493201'|                  2.1|
|409000438620'|                 0.34|
|409000362497'|                 0.97|
+-------------+---------------------+

In [147]:
# d. Maximum deposit amount of each account

transaction.groupBy(col('Account No')).max(' DEPOSIT AMT ').show()

+-------------+------------------+
|   Account No|max( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|          1.7025E8|
|     1196711'|             5.0E8|
|     1196428'|     2.119594422E8|
|409000493210'|             1.5E7|
|409000611074'|         3000000.0|
|409000425051'|             1.5E7|
|409000405747'|           2.021E8|
|409000493201'|         1000000.0|
|409000438620'|           5.448E8|
|409000362497'|             2.0E8|
+-------------+------------------+

In [148]:
# e. Minimum deposit amount of each account

transaction.groupBy(col('Account No')).min(' DEPOSIT AMT ').show()

+-------------+------------------+
|   Account No|min( DEPOSIT AMT )|
+-------------+------------------+
|409000438611'|              0.03|
|     1196711'|              1.01|
|     1196428'|               1.0|
|409000493210'|              0.01|
|409000611074'|            1320.0|
|409000425051'|               1.0|
|409000405747'|             500.0|
|409000493201'|               0.9|
|409000438620'|              0.07|
|409000362497'|              0.03|
+-------------+------------------+

In [151]:
# f. Sum of balance in every bank account

transaction.groupBy(col('Account No')).sum('BALANCE AMT').show()

+-------------+--------------------+
|   Account No|    sum(BALANCE AMT)|
+-------------+--------------------+
|409000438611'|-2.49486577068339...|
|     1196711'|-1.60476498101275E13|
|     1196428'| -8.1418498130721E13|
|409000493210'|-3.27584952132095...|
|409000611074'|       1.615533622E9|
|409000425051'|-3.77211841164998...|
|409000405747'|-2.43108047067000...|
|409000493201'|1.0420831829499985E9|
|409000438620'|-7.12291867951358...|
|409000362497'| -5.2860004792808E13|
+-------------+--------------------+

In [153]:
# g. Number of transaction on each date

transaction.groupBy(col('VALUE DATE')).count().show()

+----------+-----+
|VALUE DATE|count|
+----------+-----+
| 23-Dec-16|  143|
|  7-Feb-19|   98|
| 21-Jul-15|   80|
|  9-Sep-15|   91|
| 17-Jan-15|   16|
| 18-Nov-17|   53|
| 21-Feb-18|   77|
| 20-Mar-18|   71|
| 19-Apr-18|   71|
| 21-Jun-16|   97|
| 17-Oct-17|  101|
|  3-Jan-18|   70|
|  8-Jun-18|  223|
| 15-Dec-18|   62|
|  8-Aug-16|   97|
| 17-Dec-16|   74|
|  3-Sep-15|   83|
| 21-Jan-16|   76|
|  4-May-18|   92|
|  7-Sep-17|   94|
+----------+-----+
only showing top 20 rows

In [155]:
# h. List of customers with withdrawal amount more than 1 lakh

transaction.where(col(' WITHDRAWAL AMT ')>100000).show()

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        133900.0|         null|  8366100.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        195800.0|         null|  8147300.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        143800.0|         null|  7781600.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        331650.0|         null|  7449950.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        129000.0|         null|  7320950.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        230013.0|         null|  7090937.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        367900.0|         null|  6723037.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        108000.0|         null|  6615037.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        141000.0|         null|  6409237.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        206000.0|         null|  5959817.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        242300.0|         null|  5350718.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        113250.0|         null|  5147368.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        206900.0|         null|  4887968.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        276000.0|         null|  4611968.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        171000.0|         null|  4440968.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        189800.0|         null|  4211068.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        271323.0|         null|  3788545.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        200600.0|         null|  3587945.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        176900.0|         null|  3411045.0|
|409000611074'|INDO GIBL Indiafo...|  6-Sep-17|        150050.0|         null|  3260995.0|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 20 rows

In [171]:
for i in transaction.columns:
    tra = transaction.withColumn(i, transaction[i].cast(StringType()))
    tra = transaction.withColumn(i, trim(col(i)).alias(i))

In [174]:
for column in transaction.columns:
    # Check if the column is of string type
    if transaction.schema[column].dataType.typeName() == 'string':
        tra = transaction.withColumn(column, trim(col(column)))
    # If the column is not of string type, convert it to string, apply trim, and convert back
    else:
        tra = transaction.withColumn(column, trim(col(column).cast("string")).cast(transaction.schema[column].dataType))

# Show the DataFrame with leading and trailing spaces removed

In [175]:
tra.show(5)

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|TRF FROM  Indiafo...| 29-Jun-17|            null|    1000000.0|  1000000.0|
|409000611074'|TRF FROM  Indiafo...|  5-Jul-17|            null|    1000000.0|  2000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 18-Jul-17|            null|     500000.0|  2500000.0|
|409000611074'|TRF FRM  Indiafor...|  1-Aug-17|            null|    3000000.0|  5500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|     500000.0|  6000000.0|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 5 rows

In [177]:
for i in tra.columns:
    print(i)

Account No
TRANSACTION DETAILS
VALUE DATE
 WITHDRAWAL AMT
 DEPOSIT AMT
BALANCE AMT